[submodule "godot"]
	path = godot
	url = https://github.com/godotengine/godot
[submodule "procedured"]
	path = procedured
	url = git@github.com:dlasalle/procedured
[submodule "thespian"]
	path = thespian
	url = https://github.com/dlasalle/thespian
